beautifulsoup4
requests
selenium
pandas
numpy
matplotlib
seaborn
nltk
langdetect
googletrans==4.0.0-rc1
gensim
scikit-learn
wordcloud
textblob
spacy==3.7.2
spacy-lookups-data
tensorflow==2.10.0
keras==2.10.0
